/* Định dạng trang cho dễ thấy */
.main-body {
  background-color: #173317;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  color: orange;
}

#quickview-desktop {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  display: none; /* Ẩn cho đến khi kích hoạt */
}
